[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8-quotes = "*"
flake8-deprecated = "*"
flake8-mutable = "*"
flake8-builtins = "*"
flake8-comprehensions = "*"
flake8-bugbear = "*"
flake8-tuple = "*"
flake8-blind-except = "*"
flake8-class-newline = "*"
flake8-import-order = "*"
flake8-invalid-escape-sequences = "*"
flake8-alfred = "*"
pep8-naming = "*"
coverage = "*"

[packages]
sanic = "*"
sanic-graphql = "*"
psycopg2 = "*"
sanic-cors = "*"
graphql-core = "*"

[requires]
python_version = "3.7"
