@import '../../variables';
@import 'sass-material-colors';

$post-height: 40px;
.post {
  background: material-color('blue', '100');
  border-bottom: 2px solid #aaa;
  cursor: pointer;
  line-height: $post-height;
  padding: $padding-small;

  .company {
    font-size: x-large;
    font-weight: bold;
    margin-left: $padding-medium;
  }

  .title {
    font-size: large;
    margin-left: $padding-small;
  }

  .date {
    float: right;
    font-size: medium;
    margin-left: $padding-small;
    opacity:0.5;
  }

  &:hover {
    background: material-color('yellow', '200');
  }
}
