@import '../../variables';
@import 'sass-material-colors';

.banner {
  margin: $padding-medium;
  text-align: center;

  .button {
    background-color: material-color('red', '100');
    border-radius: $rounded-corners;
    cursor: pointer;
    margin: auto;
    padding: $padding-medium;
    width: 100px;
  }
}
