.postLink {
  background-color: #4CAF50;
  border-radius: 4px;
  color: white;
  float: right;
  margin: 8px;
  padding: 8px 12px;
  text-align: right;
  text-decoration: none;
}

.postLink:hover {
  background-color: #45A049;
}

#postLinkDiv {
  width: 100%;
  overflow: hidden;
}
