#MainContainer {
  margin: 14px;
}

#Home-div {
  border-radius: 5px;
  background-color: #E0E0E0;
  overflow: hidden;
  padding: 0px 8px 0px 8px;
}

#Job-list {
  position: relative;
  float: left;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  #Home-div {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  #Job-list {
    width: 40%;
    text-align: left;
  }
}
