.Job {
  text-decoration: none;
  cursor: pointer;
  padding: 8px;
  margin: 4px;
  border-radius: 5px;
}

.Job:hover {
  background-color: #BDBDBD;
}

.Job-selected {
  background-color: #BDBDBD;
}

.Job-title {
  color: #1E88E5;
  font-size: large;
}

.Job-subtitle {
  font-size: small;
}
