.Job {
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px;
}

.Job:hover {
  background-color: #BDBDBD;
}

.Job-selected {
  background-color: #BDBDBD;
}

.Job-title {
  color: #1E88E5;
  font-size: large;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Job-subtitle {
  font-size: small;
}
