.job {
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px;
}

.job:hover {
  background-color: #BDBDBD;
}

.jobSelected {
  background-color: #BDBDBD;
}

#jobTitle {
  color: #1E88E5;
  font-size: large;
  text-overflow: ellipsis;
  overflow: hidden;
}

#jobSubtitle {
  font-size: small;
}
