/* https://www.w3schools.com/css/tryit.asp?filename=trycss_forms */
textarea, select {
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: none;
}

#description, #how {
  resize: vertical;
}

.submit {
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  margin: 8px 0;
  padding: 14px 20px;
  width: 100%;
}

.enabled {
  background-color: #4CAF50;
}

.enabled:hover {
  background-color: #45A049;
}

.disabled {
  background-color: #9E9E9E;
}

#Post-div {
  border-radius: 5px;
  background-color: #E0E0E0;
  padding: 8px;
  margin: 14px 14px;
}

@media (min-width: 768px) {
  #Post-div {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}
