.SelectedJob {
  text-align: left;
  position: relative;
  width: 100%;
  float: left;
}

.InsideSelectedJob {
  padding: 0px 0px 0px 8px;
}

@media (min-width: 768px) {
  .SelectedJob {
    width: 60%;
  }
}

#descriptionLabel, #howLabel {
  font-weight: bold;
}
